body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-item {
    text-decoration: none;
}

    .nav-item.active {
        color: yellow;
    }
/*Styling for Admin Page*/
/*__________________________________________________________________________________________*/
body {
    padding-bottom: 0;
    height: 100vh;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-header {
    height: 50px;
}

.body-content.container,
.secondary-master {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: none !important;
}

.secondary-master {
    display: flex;
}

.side-nav {
    -webkit-flex: 2;
    -ms-flex: 2;
    -o-flex: 2;
    flex: 2;
    background-color: white;
    box-shadow: 0 0 7px grey;
    z-index: 1;
}

    .side-nav a {
        text-decoration: none;
        display: block;
        padding: 15px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        color: #101010;
    }

        .side-nav a > i {
            width: 25px;
        }
/*Mobile Optimization*/
@@media screen and (max-width: 700px) {
    .side-nav a {
        text-align: center;
    }

        .side-nav a > span {
            display: none;
        }
}

/*Nav bar Hover and Active styling*/
.side-nav a:hover {
    background-color: rgb(240,240,240);
}

.side-nav a.active {
    border-left: 3px solid #41b3f9;
    font-weight: bold;
}

.body {
    -webkit-flex: 8;
    -ms-flex: 8;
    -o-flex: 8;
    flex: 8;
}
    /*Has a direct child  of body class*/
    .body > header {
        height: 50px;
        box-shadow: 0 0 7px grey;
        line-height: 50px;
        padding-left: 15px;
        font-weight: bold;
        font-size: 115%;
    }

    .body > div {
        height: calc(100% - 50px);
        box-sizing: border-box;
        padding: 15px;
        background-color: rgb(237, 241, 245);
    }
